.no-padding-margin {
  padding: 0;
  margin: 0;
}

.no-style {
  text-decoration: none;
  list-style: none;
}

nav>ul>a>li:hover {
  color: white;
}

main>p>a:hover {
  color: white;
}

footer>ul>a>li:hover {
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
