body {
  font-family: 'Courgette', cursive;
  margin-left: 20%;
  margin-right: 20%;
  left: 0;
  top: 0;
  background-image: url("../images/soft_wallpaper.png");

  a {
    text-decoration: none;
    list-style: none;
  }

  header {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: solid 1px black;
    width: 100%;

    a {
      align-items: center;
      justify-content: space-around;
      padding-left: 20px;
      padding-right: 20px;
      color: black;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 50px;
    }

    .navbar {
        font-size: 20px;
    }

    ul {
      display: flex;
      flex-direction: row;
    }

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 24px;
    }

    .logo {
      width: 50px;
    }
  }

  main {
    margin-top: 50px;
    font-size: 22px;
    color: #242322;

    h2 {
      color: black;
    }

    .jabba {
      width: 100%;
    }

    .contact-text {
      color: red;
    }

    .img-chat {
      width: 150px;
      height: 120px;
    }
    .chat-second {
      margin-bottom: 15px;
    }
    .chat-first {
      margin-bottom: 15px;
    }
    .chat-third {
      margin-bottom: 15px;
    }
    .chat-fourth {
      margin-bottom: 15px;
    }
    .chat-fifth {
      margin-bottom: 15px;
    }
  }

  footer {
      bottom: 0;
      height: 50px;
      width: 100%;

    a {
      color: black;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .gh-logo {
      width: 50px;
    }
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 24px;
  }

  .navbar {
    font-size: 16px!important;
  }

  h2 {
    font-size: 22px;
  }

  .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 18px;
  }

  .navbar {
    font-size: 12px!important;
  }

  h2 {
    font-size: 18px;
  }

  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    display: none;
  }

  .navbar {
    font-size: 10px!important;
  }

  h2 {
    font-size: 16px;
  }

  .text {
    font-size: 12px;
  }
}
